<p id="notice"><%= notice %></p>

<p>
  <strong>Close date:</strong>
  <%= @grat.close_date %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @grat.symbol %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @grat.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @grat.cost %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @grat.current_price %>
</p>

<p>
  <strong>Call exp date:</strong>
  <%= @grat.call_exp_date %>
</p>

<p>
  <strong>Call strike:</strong>
  <%= @grat.call_strike %>
</p>

<p>
  <strong>Call bid:</strong>
  <%= @grat.call_bid %>
</p>

<p>
  <strong>Call ask:</strong>
  <%= @grat.call_ask %>
</p>

<p>
  <strong>Put exp date:</strong>
  <%= @grat.put_exp_date %>
</p>

<p>
  <strong>Put strike:</strong>
  <%= @grat.put_strike %>
</p>

<p>
  <strong>Put bid:</strong>
  <%= @grat.put_bid %>
</p>

<p>
  <strong>Put ask:</strong>
  <%= @grat.put_ask %>
</p>

<p>
  <strong>Note:</strong>
  <%= @grat.note %>
</p>


<%= link_to 'Edit', edit_grat_path(@grat) %> |
<%= link_to 'Back', grats_path %>
