<div class="container">

<br><br>
<%= Time.now.in_time_zone.strftime("%m/%d/%Y at %I:%M%p") %>


<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Start Date</th>
	      <th style="text-align: right">Symbol</th>
	      <th style="text-align: right">Quantity</th>
		  <th style="text-align: right">Start Price</th>
	      <th style="text-align: right">Last Price</th>
	      <th style="text-align: right">Total Gain</th>		  
	    </tr>
	  </thead>

	  <tbody>
		  <% @grats.each_with_index do |g,i| %> 
	      <tr>
	        <td><%= g.close_date.strftime("%m/%d/%Y") %></td>
	        <td style="text-align: right"><%= g.symbol %></td>
	        <td style="text-align: right"><%= number_with_precision(g.quantity, :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_to_currency(g.cost) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][1]) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][5], precision: 0) %></td>
	      </tr>		
		  <% end %>
  	    <tr>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td style="text-align: right"><%= number_to_currency(@total_gain) %></td>
		 </tr>
	  </tbody>
	</table>
</div>


<% @name = Hash.new %>
<% @series = Hash.new %>
<% @data = [ ] %>
<% REDIS.keys.sort.each { |k| @series[k.split(' ').first] = JSON.parse(REDIS.get(k))[5].gsub(',','').to_i } %>
<% @name['name'] = 'Total' %>
<% @name['data'] = @series %>
<% @data.push @name %>


<%= line_chart @data, adapter: "google", library: {
			seriesType: "line",
			title: "Total Net Value", chartArea: { width: '85%', height: '80%'},
			legend: { position: 'top', alignment: 'end' }, 
			hAxis: {title: "2021", format: 'MMM dd', gridlines: {color: 'rgb(211,211,211)', count: 6 } }, 
			vAxis: {gridlines: { color: 'rgb(211,211,211)', count: 20 } } 
			}, id: "Total", thousands: ",", prefix: "$", min: 3000000, max: 7500000, height: "700px", points: true %>




<% @data = [ ] %>
<% (0..4).each do |s| %>
	<% @series = Hash.new %>
		<% @stock = Hash.new %>
		<% REDIS.keys.sort.each do |k| %>			
			<% @series['name'] = JSON.parse(REDIS.get(k))[s][0] %>
	        <% @stock[k.split(' ').first] = JSON.parse(REDIS.get(k))[s][5].gsub(',','')  %>
		<% end %>
		<% @series['data'] = @stock %>
		<% @data.push @series %>
<% end %>

<%= line_chart @data, adapter: "google", library: {
			seriesType: "line",
			title: "Individual GRATs", chartArea: { width: '85%', height: '80%'},
			legend: { position: 'top', alignment: 'end' }, 
			hAxis: {title: "2021", format: 'MMM dd', gridlines: {color: 'rgb(211,211,211)', count: 6 } }, 
			vAxis: {gridlines: { color: 'rgb(211,211,211)', count: 50, prefix: "$" } } 
			}, id: "Individual", thousands: ",", prefix: "$", min: -100000, max: 3500000, height: "700px", points: false %>
			
<br>Update 8/12/2022



</div>