<div class="container">

<br><br>
<%= Time.now.in_time_zone.strftime("%m/%d/%Y at %I:%M%p") %>

<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Symbol</th>
	      <th style="text-align: right">Quantity</th>
		  <th style="text-align: right">Cost</th>
	      <th style="text-align: right">Price</th>
	      <th style="text-align: right">Change</th>
	      <th style="text-align: right">Put Strike</th>
	      <th style="text-align: right">Call Strike</th>
		  		  
	      <th style="text-align: right">Minimum</th>
	      <th style="text-align: right">Current Gain</th>
	      <th style="text-align: right">Maximum</th>
	    </tr>
	  </thead>

	  <tbody>
		  <% @grats.each_with_index do |g,i| %> 
	      <tr>
	        <td><%= g.symbol %></td>
	        <td style="text-align: right"><%= number_with_precision(g.quantity, :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_to_currency(g.cost) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][1]) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][2]) %></td>
			<td style="text-align: right"><%= number_to_currency(g.put_strike, precision: 0) %> <%= link_to 'Edit', edit_grat_path(g) %></td>
			<td style="text-align: right"><%= number_to_currency(g.call_strike, precision: 0) %></td>
			
			<td style="text-align: right"><%= number_to_currency(@gains[i][7], precision: 0) %> 
											<%= number_to_percentage(@gains[i][8], precision: 1) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][5], precision: 0) %> 
											<%= number_to_percentage(@gains[i][6], precision: 1) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][9], precision: 0) %> 
											<%= number_to_percentage(@gains[i][10], precision: 1) %></td>
	      </tr>		
		  <% end %>
  	    <tr>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td style="text-align: right"><%= number_to_currency(@total_gain) %></td>
  	      <td></td>
		 </tr>
	  </tbody>
	</table>
</div>

<br><br>

<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th style="text-align: right">Symbol</th>
	      <th style="text-align: right">Quantity</th>
		  <th style="text-align: right">Cost</th>
	      <th style="text-align: right">Price</th>
	      <th style="text-align: right">Change</th>
	      <th style="text-align: right">Daily Change</th>
	      <th style="text-align: right">Total Gain</th>		  
	      <th style="text-align: right">Percent Gain</th>		  
	    </tr>
	  </thead>
<% @daily_gain = 0 %>
	  <tbody>
		  <% @grats.each_with_index do |g,i| %> 
<% @daily_gain = @daily_gain + @gains[i][11] %>		  
	      <tr>
	        <td><%= Date.today.strftime("%m/%d/%Y") %></td>
	        <td style="text-align: right"><%= g.symbol %></td>
			<td style="text-align: right"><%= number_with_precision(g.quantity, :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_to_currency(g.cost) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][1]) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][2]) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][11], precision: 0) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][5], precision: 0) %></td>
			<td style="text-align: right"><%= number_to_percentage(@gains[i][6], precision: 1) %></td>
			
	      </tr>		
		  <% end %>
  	    <tr>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td style="text-align: right"><%= number_to_currency(@daily_gain, precision: 0)  %></td>
  	      <td style="text-align: right"><%= number_to_currency(@total_gain, precision: 0) %></td>
  	      <td></td>
		 </tr>
	  </tbody>
	</table>
</div>


<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th style="text-align: right">Symbol</th>
	      <th style="text-align: right">Remaining Shares</th>
		  <th style="text-align: right">Remaining Value</th>
	      <th style="text-align: right">2nd yr Shares</th>
	      <th style="text-align: right">Residual Shares</th>
	      <th style="text-align: right">Residual Value</th>
	      <th style="text-align: right">Daily Change</th>		  
	    </tr>
	  </thead>
<% @daily_gain = 0 %>
<% @residual_total_gain = 0 %>
<% @daily_total_change = 0 %>
	  <tbody>
		  <% @grats.each_with_index do |g,i| %> 
		  <% @residual_value =  @gains[i][1] * ( @remaining[i] - (@fvm_funding[i] * 0.509009462) /  @gains[i][1] ) %>
		  <% @residual_total_gain = @residual_total_gain + @residual_value %>
		  <% @residual_shares = ( @remaining[i] - (@fvm_funding[i] * 0.509009462) /  @gains[i][1] )%>
		  
		  
<% @daily_gain = @daily_gain + @gains[i][11] %>		  
<% @daily_total_change = @daily_total_change + @residual_shares * @gains[i][2] %>
	      <tr>
	        <td><%= Date.today.strftime("%m/%d/%Y") %></td>
	        <td style="text-align: right"><%= g.symbol %></td>
			<td style="text-align: right"><%= number_with_precision(@remaining[i], :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_to_currency(@remaining[i] * @gains[i][1], precision: 0) %></td>
			<td style="text-align: right"><%= number_with_precision( 
													( (@fvm_funding[i] * 0.509009462) /  @gains[i][1] ),
													 :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_with_precision( @residual_shares, :precision => 0, :delimiter => ',') %></td>
			<td style="text-align: right"><%= number_to_currency( @residual_value, precision: 0 ) %></td>
			<td style="text-align: right"><%= number_to_currency(@gains[i][2]  * @residual_shares, precision: 0) %></td>
			
	      </tr>		
		  <% end %>
  	    <tr>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td></td>
  	      <td style="text-align: right"><%= number_to_currency(@residual_total_gain, precision: 0)  %></td>
  	      <td style="text-align: right"><%= number_to_currency(@daily_total_change, precision: 0) %></td>
  	      <td></td>
		 </tr>
	  </tbody>
	</table>
</div>


<% @name = Hash.new %>
<% @series = Hash.new %>
<% @data = [ ] %>
<% REDIS.keys.sort.each { |k| @series[k.split(' ').first] = JSON.parse(REDIS.get(k))[5].gsub(',','').to_i } %>
<% @name['name'] = 'Total' %>
<% @name['data'] = @series %>
<% @data.push @name %>

<%= @data %>

<%= line_chart @data %>


<% @data = [ ] %>
<% (0..4).each do |s| %>
	<% @series = Hash.new %>
		<% @stock = Hash.new %>
		<% REDIS.keys.sort.each do |k| %>			
			<% @series['name'] = JSON.parse(REDIS.get(k))[s][0] %>
	        <% @stock[k.split(' ').first] = JSON.parse(REDIS.get(k))[s][5].gsub(',','')  %>
		<% end %>
		<% @series['data'] = @stock %>
		<% @data.push @series %>
<% end %>

<%= @data %>

<%= line_chart @data, adapter: "google", library: {
			seriesType: "line",
			title: "Gain Performance", chartArea: { width: '80%', height: '80%'},
			legend: { position: 'top', alignment: 'end' }, 
			hAxis: {title: "Date", format: 'MMM dd', gridlines: {color: 'rgb(211,211,211)', count: 6 } }, 
			vAxis: {gridlines: { color: 'rgb(211,211,211)', count: 50 } } 
			}, id: "comparison", thousands: ",", prefix: "$", min: 0, max: 2500000, height: "700px", points: false %>


</div>